body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.card-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card img {
    width: 100px;
    height: 100px;
}

.card p {
    font-size: 1.2em;
    font-weight: bold;
}

/* Classes para as cores de feedback */
.certo {
    background-color: #d4edda; /* Verde claro */
    border-color: #28a745; /* Verde escuro */
}

.errado {
    background-color: #f8d7da; /* Vermelho claro */
    border-color: #dc3545; /* Vermelho escuro */
}